// Colors
$color-blue: #1a2732;
$color-red: #e01932;
$color-gray: #757575;
$color-sidebar-gray: #adadad;
$color-light-gray: #e6e6e6;
$color-background-gray: #f5f5f5;
$color-black: #000;
$color-white: #fff;